.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# 아이콘 파일 (Finder가 폴더 아이콘을 기억할 때 생성)
Icon?

# 썸네일 캐시
._*

# Spotlight 검색 인덱스
.Spotlight-V100
.Trashes

# Mac OS 메타데이터
.fseventsd